/* Index specific stylings */
/* Section - page title - cover image */
#title-image {
    background: #fff url("../images/placeholder.png") no-repeat center center/cover;
}

/* Section - heading */
#heading div {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    font-size: 160%;
    box-sizing: border-box;
    background-color: #303030;
}

/* Section - gallery */
#gallery div {
    width: 80%;
    margin: 0 auto;
    background-color: #303030;
    text-align: center;
    columns: 3;
    padding: 10px;
    box-sizing: border-box;
}

/* Section - gallery - images*/
#gallery img {
    width: 100%;
    margin: 5px 0;
    object-fit: cover;
}

/* Media queries for smaller screened devices */
/* For screens smaller than 1200px */
@media screen and (max-width: 1200px) {

    /* Section - heading */
    #heading div {
        width: 90%;
    }

    /* Section - gallery */
    #gallery div {
        width: 90%;
        columns: 2;
    }
}

/* For screens smaller than 1000px */
@media screen and (max-width: 1000px) {

    /* Section - heading */
    #heading div {
        width: 90%;
    }

    /* Section - gallery */
    #gallery div {
        width: 90%;
        columns: 1;
    }
}

/* For screens smaller than 700px */
@media screen and (max-width: 700px) {

    /* Section - heading */
    #heading div {
        width: 100%;
    }

    /* Section - gallery */
    #gallery div {
        width: 100%;
    }
}