/* Index specific stylings */
/* Section - page title - cover image */
#title-image {
    background: #fff url("../images/gallery-banner-image.jpg") no-repeat bottom center/cover;
}

/* Section - gallery - container*/
#gallery {
    columns: 3;
}

/* Section - gallery - images*/
#gallery img {
    width: 100%;
    margin: 5px 0;
    object-fit: cover;
    border-radius: 25px;
}

/* Media queries for smaller screened devices */
/* For screens smaller than 1200px */
@media screen and (max-width: 1200px) {

    /* Section - gallery */
    #gallery {
        columns: 2;
    }
}

/* For screens smaller than 1000px */
@media screen and (max-width: 1000px) {

    /* Section - gallery */
    #gallery {
        columns: 1;
    }
}