/* Index specific stylings */
/* Section - page title - cover image */
#title-image {
    background: #fff url("../images/placeholder.png") no-repeat center center/cover;
}

/* Section - ethos */
#ethos {
    text-align: center;
}

/* Section - ethos - row containers */
#ethos > div {
    clear: both;
    width: 1000px;
    height: 250px;
    margin: 0 auto;
    padding: 20px 10px;
    border-left: 5px solid #303030;
    border-right: 5px solid #303030;
}

/* Section - ethos - left column */
.ethos-left {
    float: left;
    width: 33%;
}

/* Section - ethos - right column */
.ethos-right {
    float: right;
    width: 33%;
}

/* Section - ethos - center column */
.ethos-center {
    width: 33%;  
    margin: 0 auto;
}

/* Section - ethos - images container */
.ethos-image {
    height: 100%;
    overflow: hidden;
}

/* Section - ethos - image */
.ethos-image > img {
    border-radius: 25px;
    width: 100%;
    height: inherit;
    object-fit: cover;
}

/* Section - ethos - text */
.ethos-text {
    font-size: 120%;
}