/* Index specific stylings */
/* Section - page title - cover image */
#title-image {
    background: #fff url("../images/placeholder.png") no-repeat center center/cover;
}

/* Section - ethos */
#ethos {
    text-align: center;
}

/* Section - ethos - row containers */
#ethos > div {
    clear: both;
    width: 1000px;
    height: 250px;
    margin: 0 auto;
    padding: 20px 20px;
    background-color: #303030;
}

/* Section - ethos - left column */
.ethos-left {
    float: left;
    width: 33%;
}

/* Section - ethos - right column */
.ethos-right {
    float: right;
    width: 33%;
}

/* Section - ethos - center column */
.ethos-center {
    width: 33%;  
    margin: 0 auto;
}

/* Section - ethos - images container */
.ethos-image {
    height: 100%;
    overflow: hidden;
}

/* Section - ethos - image */
.ethos-image > img {
    border-radius: 25px;
    width: 100%;
    height: inherit;
    object-fit: cover;
}

/* Section - ethos - text */
.ethos-text {
    font-size: 120%;
}

/* Section - schedule */
#schedule {
    width: 1000px;
    margin: 0 auto 50px auto;
    list-style: none;
    padding: 30px 20px;
    background-color: #303030;
}

/* Section - schedule - items */
#schedule li {
    width: 90%;
    margin: 5px auto;
    border-radius: 25px;
    background: url("../images/placeholder.png") no-repeat center center/cover;
}

/* Section - schedule - items - icon */
.schedule-icon {
    display: inline-block;
    font-size: 350%;
    height: 75px;
    width: 75px;
    line-height: 75px;
    color: #303030;
    text-align: center;
    margin: 10px;
}

/* Section - schedule - items - text container */
.schedule-day {
    display: inline-block;
    height: 100%;
}

/* Section - schedule - text */
.schedule-day h1 {
    display: inline;
    color: #303030;
}

/* Section - schedule - details */
.schedule-day details {
    color: #303030;
}