/* Index specific stylings */
/* Section - page title - cover image */
#title-image {
    background: #fff url("../images/members-banner-image.jpg") no-repeat center center/cover;
}

/* Section - members */
#members {
    columns: 3;
}

/* Section - members - container*/
.members-container {
    display: inline-block;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

/* Section - members - images */
.members-container img {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* Media queries for smaller screened devices */
/* For screens smaller than 1200px */
@media screen and (max-width: 1200px) {

    /* Section - members */
    #members {
        columns: 2;
    }
}

/* For screens smaller than 800px */
@media screen and (max-width: 800px) {

    /* Section - members */
    #members {
        columns: 1;
    }
}