/* Index specific stylings */
/* Section - page title - cover image */
#title-image {
    background: #fff url("../images/placeholder.png") no-repeat center center/cover;
}

/* Section - members */
#members {
    width: 80%;
    margin: 0 auto 50px auto;
    background-color: #303030;
    text-align: center;
    columns: 3;
    box-sizing: border-box;
    padding: 10px;
}

/* Section - members - container*/
.members-container {
    display: inline-block;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

/* Section - members - images */
.members-container img {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* Media queries for smaller screened devices */
/* For screens smaller than 1200px */
@media screen and (max-width: 1200px) {

    /* Section - members */
    #members {
        width: 90%;
        columns: 2;
    }
}

/* For screens smaller than 800px */
@media screen and (max-width: 800px) {

    /* Section - members */
    #members {
        width: 90%;
        columns: 1;
    }

    /* Section - members */
    #members {
        margin-bottom: 0;
    }
}

/* For screens smaller than 700px */
@media screen and (max-width: 700px) {

    /* Section - members */
    #members {
        width: 100%;
    }
}