/* Generic all page stylings */
/* Import Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Comfortaa:wght@300&display=swap');

/* Clear padding, margin and border */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Default stylings */
body {
    font-family: Camfortaa;
    font-weight: 100;
    color: #fff;
}

h1,
h2 {
    font-family: Anton;
    font-weight: 200;
    letter-spacing: 1px;
    color: #fff;
}

/* Header */
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;
    line-height: 75px;
    padding: 0 20px;
    background-color: #303030;
    box-sizing: border-box;
    z-index: 2;
}

/* Active page identifier - top left */
#active-page {
    float: left;
    font-size: 250%;
    text-transform: uppercase;
    color: #fff;
}

/* Active page identifier - link - top left*/
#active-page a {
    color: #fff;
    text-decoration: none;
}

/* Navigation - menu */
#menu {
    float: right;
    list-style: none;
    font-size: 150%;
    width: fit-content;
    margin-top: 15px;
    line-height: 45px;
    border-radius: 25px;
    background-color: #fff;
}

/* Navigation - items */
#menu li {
    display: inline-block;
    color: #303030;
    padding: 0 10px;
}

/* Navigation - items - links */
#menu a {
    text-decoration: none;
    color: inherit;
}

/* Navigation - items - hover */
#menu li:hover {
    background-color: #d9d9d9;
    border-radius: 25px;
}

/* Section - page title */
#title {
    margin-top: 75px;
    height: 30vh;
    overflow: hidden;
    position: relative;
    color: #fff;
}

/* Section - page title - cover image */
#title-image {
    width: 100%;
    height: 100%;

    animation-name: title-animation;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* Section - page title - cover image - animation */
@keyframes title-animation {
    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
}

/* Section - page title - cover text */
#title-text {
    position: absolute;
    bottom: 5%;
    lefT: 0;
    right: 0;
    margin: 0 auto;
    width: fit-content;
    text-align: center;
    padding: 5px 25px;
    border-radius: 20px;
    background-color: #303030e1;
}

/* Section - page title - cover text - heading */
#title-text h2 {
    font-size: 250%;
    text-transform: uppercase;
    color: #fff;
}

/* Section - page title - cover text - heading */
#title-text p {
    font-size: 110%;
    text-transform: capitalize;
}

/* Section - heading */
#heading {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    font-size: 160%;
    box-sizing: border-box;
    background-color: #303030;
}

/* Footer */
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 50px;
    background-color: #303030;
}

/* Social networks - list*/
.social-networks {
    text-align: center;
}

/* Social networks - items */
.social-networks>li {
    display: inline-block;
}

/* Social networks - items - icons */
.social-networks i {
    font-size: 210%;
    color: #fff;
    margin: 0 50px;
    line-height: 50px;
}

/* Media queries for smaller screened devices */
/* For screens smaller than 1200px */
@media screen and (max-width: 1200px) {

    /* Section - heading */
    #heading {
        width: 90%;
    }
}

/* For screens smaller than 800px */
@media screen and (max-width: 800px) {

    /* Header */
    header {
        height: 150px;
        position: relative;
    }

    /* Active page identifier - top left */
    #active-page {
        float: none;
        text-align: center;
    }

    /* Navigation - menu */
    #menu {
        float: none;
        margin: 5px auto;
    }

    /* Section - page title */
    #title {
        margin-top: 0;
    }

    /* Footer */
    footer {
        position: relative;
    }

    /* Social networks - items - icons */
    .social-networks i {
        margin: 0 20px;
    }
}

/* For screens smaller than 700px */
@media screen and (max-width: 700px) {

    /* Section - heading */
    #heading {
        width: 100%;
    }
}

/* For screens smaller than 500px */
@media screen and (max-width: 500px) {

    /* Navigation - menu */
    #menu {
        font-size: 100%;
    }
}